
.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
  }
 
  .content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }
  
  .content-table th,
  .content-table td {
    padding: 12px 15px;
  }
  
  .content-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  

  
  .content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  
#filtering  {
  padding: 5px;
  background-color: #009879;
  color: white;
  max-width: 150px;
  text-align: center;
  padding: 2px;
  border: none;
}
.sortBy{
  margin: 5px;
}
.sortBy label {
  font-weight: bold;
  margin: 3px;
}
.sortBy button{
  margin: 3px;
  background-color: #009879;
  color: white;
  max-width: 200px;
  text-align: center;
  /* padding: 3px; */
  border: none;
}

#length{
  padding: 5px;
}
